h2
  = "Task №#{@task.id} \"#{@task.name}\""
br
h4
  = "This task created by #{@task.creator}"
br
h4
  = "Performer of this task is #{@task.performer}"
hr
= render 'tasks/buttons'
= render 'tasks/back_button'
